/* CSS Document */
body{font-family:arial, "宋体"; color:#444; font-size:12px; line-height:20px; text-align:left; background-color:#fff;}
html,body,div,span,ul,li,ol,dl,dt,dd,table,th,p,fieldset,form,pre,blockquote,h1,h2,h3,h4,h5,h6,input,img,a{ margin:0; padding:0;}
ul li{ list-style:none;}
img{border:none;}

a:link{color:#444; text-decoration:none;}
a:visited{color:#444; text-decoration:none;}
a:hover{color:#ff5a00; text-decoration:underline;}
a:active{color:#ff5a00; text-decoration:underline;}

.wrapper{width:990px; text-align:left; margin:0 auto;} 
.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}

.f14{ font-size:14px; font-weight:bold;}
.f16{ font-size:16px; font-weight:bold;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt30{ margin-top:30px;}
.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.pt17{ padding-top:17px;}
.pt20{ padding-top:20px;}
.ml10{ margin-left:10px;}
.pl10{ padding-left:10px;}
.mr5{ margin-right:5px;}

/*字体样式*/
.orange{ color:#ff5a00;}
.orange a:link{ color:#ff5a00; text-decoration:none;}
.orange a:visited{color:#ff5a00; text-decoration:none;}
.orange a:hover{color:#ff6600; text-decoration:underline;}

.blue{ color:#336699;}
.blue a:link{ color:#336699; text-decoration:none;}
.blue a:visited{color:#336699; text-decoration:none;}
.blue a:hover{color:#ff6600; text-decoration:underline;}

.gray{ color:#606060;}
.gray a:link{ color:#606060; text-decoration:none;}
.gray a:visited{color:#606060; text-decoration:none;}
.gray a:hover{color:#ff6600; text-decoration:none;}

.gray1{ color:#7b7b7b;}
.gray1 a:link{ color:#7b7b7b; text-decoration:none;}
.gray1 a:visited{color:#7b7b7b; text-decoration:none;}
.gray1 a:hover{color:#ff6600; text-decoration:none;}

.red{ color:#ea1e00; text-decoration:none; }
.red a:link{ color:#ea1e00; text-decoration:none;}
.red a:visited{ color:#ea1e00; text-decoration:none;}
.red a:hover{ color:#ff6600; text-decoration:underline;}

.nounder a:hover{ text-decoration:none;}
 
.nred{ color:#de0001; font-family:Arial, Helvetica, sans-serif;}
.nred a:link{ color:#de0001; text-decoration:underline;}
.nred a:visited{ color:#de0001; text-decoration:underline;}
.nred a:hover{ color:#ff6600; text-decoration:underline;}

.white{ color:#fff;}
.white a:link{ color:#fff; text-decoration:none;}
.white a:visited{color:#fff; text-decoration:none;}
.white a:hover{color:#fff; text-decoration:underline;}

.nwhite{ color:#fff; text-decoration:underline; }
.nwhite a:link{ color:#fff; text-decoration:underline;}
.nwhite a:visited{color:#fff; text-decoration:underline;}
.nwhite a:hover{color:#fff; text-decoration:none;}

/*顶部样式*/
.topbar{ width:100%; height:27px; border-bottom:1px solid #cfcfcf; background-color:#f5f5f5;}
.topbar .toptab{ width:990px; margin:0 auto; color:#666;}
.topbar .toptab .greet{padding-left:10px; float:left; padding-top:4px;}
.site-nav {line-height: 19px; height: 22px; float:right;}
.site-nav a {color: #666;}
.site-nav a:hover {color: #e66d02;}
.site-nav .quick-menu {padding-top:4px; float:right;}
.site-nav .quick-menu LI {background-position: right 6px; padding-left:5px; float: left; padding-bottom: 0px; margin-left: 5px; padding-top: 2px}
.site-nav .quick-menu LI.last {background: none transparent scroll repeat 0% 0%}
.site-nav .quick-menu LI.menu-item {padding-right: 0px; padding-left: 0px; padding-bottom: 0px; padding-top: 0px; position: relative}
.site-nav .menu-hd {padding-right:14px; display: block; padding-left: 5px; z-index: 10002; padding-bottom: 0px; margin: 1px 1px 0px; cursor: pointer; padding-top: 0px; position: relative; height: 20px}
.site-nav .myqihui .menu-hd {width: 50px; padding-top: 1px; _padding-top: 1px; height:22px;}
.site-nav .webmenu .menu-hd {width: 48px; padding-top: 1px; _padding-top: 1px; height:22px;}
.site-nav .services .menu-hd {width: 48px; padding-top: 1px; _padding-top: 1px; height:22px;}
.site-nav .menu-hd b{border-right: #f3f3f3 4px solid; border-top: #ccc 4px solid; font-size: 0px; RIGHT: 3px; border-left: #f3f3f3 4px solid; width: 0px; line-height: 0; border-bottom: #f3f3f3 4px solid; position: absolute; TOP: 7px; height: 0px; -webkit-transition: -webkit-transform .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: -webkit-transform .2s ease-in}
.site-nav .menu-bd {border-right: #bfbfbf 1px solid; border-top: #bfbfbf 1px solid; display: none; z-index: 10001; left:0px; background: #fff; border-left: #bfbfbf 1px solid; border-bottom: #bfbfbf 1px solid; position: absolute; TOP: 21px}
.site-nav IFRAME.menu-bd {border-top-width: 0px; border-left-width: 0px; z-index: -1; background: none transparent scroll repeat 0% 0%; FILTER: alpha(opacity=0); float: left; border-bottom-width: 0px; border-right-width: 0px}
.site-nav .menu-bd-panel {padding-bottom: 6px; }
.site-nav .menu-item-opp .menu-bd {LEFT: 0px}
.site-nav .menu-item-opp .menu-bd S.rt {LEFT: 0px}
.site-nav .menu-item-opp .menu-bd S.lt {background-position: -87px -55px; RIGHT: -2px; LEFT: auto}
.site-nav .menu {position: relative}
.site-nav .menu:hover .menu-hd {border-right: #bfbfbf 1px solid; border-top: #bfbfbf 1px solid; background: white; margin: 0px; border-left: #bfbfbf 1px solid; border-bottom: #bfbfbf 1px}
.site-nav .hover .menu-hd {border-right: #bfbfbf 1px solid; border-top: #bfbfbf 1px solid; background: white; margin: 0px; border-left: #bfbfbf 1px solid; border-bottom: #bfbfbf 1px}
.site-nav .menu:hover .menu-bd {display: block}
.site-nav .hover .menu-bd {display: block}
.site-nav .menu:hover .menu-hd B {border-left-color: #fff; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); border-bottom-color: #fff; border-top-color: #ccc; TOP: 5px; border-right-color: #fff; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%}
.site-nav .hover .menu-hd B {border-left-color: #fff; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); border-bottom-color: #fff; border-top-color: #ccc; TOP: 5px; border-right-color: #fff; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%}
.site-nav .myqihui .menu-bd {line-height:22px;top:23px;width:280px;-height:110px;}
.site-nav .myqihui .menu-bd-panel {padding-left:5px;padding-bottom:8px;padding-top:8px;padding-right:5px;}

.site-nav .myqihui .menu-bd dl{float:left;padding:4px 12px;}
.site-nav .myqihui .menu-bd dt{font-weight:700;color:#ff500b;}
.site-nav .myqihui .menu-bd dd{line-height:24px;word-spacing:no-wrap;}

.site-nav .webmenu .menu-bd {line-height:25px; top:23px; width:240px; -height:35px;}
.site-nav .webmenu .menu-bd-panel {padding-left:5px; padding-bottom: 8px; padding-top: 8px; padding-right:5px;}
.site-nav .services .menu-bd {line-height:25px; top:23px; width:95px; -height:110px;}
.site-nav .services .menu-bd-panel {padding-left:5px; padding-bottom: 8px; padding-top: 8px; padding-right:5px;}
.site-nav .swhome{padding-right:7px;}
.site-nav .menu-bd-panel A {color: #666; padding:2px;}
.site-nav .menu-bd-panel A:hover {color:#fff; background-color:#F7600E; padding:2px;}

.gouwu {background: url("image/gouwu.png")/*tpa=/image/gouwu.png*/ no-repeat;padding: 0 8px 0 10px;color: #fff;}

/*服务*/
.footer{background:url("images/top.png")/*tpa=/images/top.png*/ repeat-x 0 -233px; height:140px; width:988px; border:1px solid #e2e2e2; }
.footer li{float:left; height:110px; width:118px; margin-top:15px;  background:url("images/dotted.gif")/*tpa=/images/dotted.gif*/ repeat-y right; padding-right:46px;  }
.footer dl{ padding-left:50px; width:68px;}
.footer dt{ font-size:14px; font-weight:bold; line-height:24px; }
.footer dd{ line-height:22px;}
.footer .noimg{ background:none;}

/*logo样式*/
.logotab{ width:990px; height:100px; margin:0 auto;}
.logotab .logo{float:left; text-align:left; text-indent:-999em; background-image:url("images/logo-zc.jpg")/*tpa=/images/logo-zc.jpg*/; margin:0 13px 0 6px;}
.logotab .logo h1 a{width:228px; height:109px; display:block;} 
.logotab .logofont{float:left; text-align:left; color: #666666;font-family: "微软雅黑","黑体","文泉驿正黑体","华文细黑";font-size: 22px;font-weight: bold;height: 28px;line-height: 28px; padding:62px 4px 0 0;}

/*电话*/
.phonetab{ margin:30px 40px 0 0; float:right; }

/*版权样式*/
.copyrightbar ul{ width:990px; border-top:3px solid #f27b04; margin:10px auto; padding-top:10px; }
.copyrightbar ul li{ width:990px; text-align:center; float:left; padding:5px 0;}
.copyrightbar ul li span{ padding:0 3px;}
