/* CSS Document */

@import url("globle.css")/*tpa=http://www.cbssww.com/skin/default/globle.css*/;
/* nav */
body{
	font-family:microsoft YaHei, Tahoma, Helvetica, Arial, sans-serif;
	}
.Lb_nav {
	width: 950px;
	height: 32px;
	line-height: 32px;
	padding-bottom: 3px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	background: url("../images/Lspirit.png")/*tpa=http://www.cbssww.com/skin/images/Lspirit.png*/ no-repeat;
}
.Lb_nav li {
	float: left;
	padding: 0 12px;
} 
.Lb_nav li a {
	float: left;
	padding: 0 6px;
	color: #fff;
}
.Lb_nav li a img {
	position: absolute;
	margin: -10px 0 0 -1px;
	_margin: -20px 0 0 -1px;
}
/* 提示 */
.Lbtishi {
	width: 950px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 2px;
	margin-BOTTOM: 2px;
}
.Lbtishi ul {
	float: left;
	width: 980px;
	height: 35px;
}
.Lbtishi li{
	background: url("../images/Lblx.gif")/*tpa=http://www.cbssww.com/skin/images/Lblx.gif*/ no-repeat;
	font-family: microsoft YaHei, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	font-weight: bold;
	float: left;
	line-height:24px;
}
.Lbtishi li.tel {
	background-position: 5px 9px;
	padding: 8px 15px 0 34px;
}
.Lbtishi li.qq {
	background-position: 7px -47px;
	padding: 8px 15px 0 40px;
}
.Lbtishi li.email {
	background-position: 8px -91px;
	padding: 8px 15px 0 40px;
}
.Lbtishi li.time {
	background-position: 4px -144px;
	padding: 8px 0px 0 40px;
}
/* 幻灯 */
.Lb_huandeng{
	width:932px;
	height:254px;
	padding:8px;
	overflow:hidden;
	margin:auto;
	border:1px solid #ABCAEB;
	}

.Lb_flash, .Lb_z_l {
	position: relative;
	width: 466px;
	height: 255px;
	overflow: hidden;
	float: left;
}
.Lb_z_l {
	position: static;
	height: auto;
}
.Lb_flash ul {
	position: absolute;
}
.Lb_flash ul li {
	width: 466px;
	height: 255px;
	float: left;
	overflow: hidden;
	position: relative;
	float:left;
}
.Lb_flash ul li img {
	position: absolute;
	width:466px;
	height:255px;
}
.Lb_flash ul li div {
	background: #000;
	opacity: 0.6;
	z-index: 15;
	left: 0;
	filter: alpha(opacity=60);
	width: 466px;
	height: 45px;
	position: absolute;
	z-index: 1;
	bottom: 0;
}
.Lb_flash ul li p {
	position: absolute;
	z-index: 2;
	width: 466px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	bottom: 17px;
	overflow: hidden;
	left: 8px;
}
.Lb_flash ul li p a {
	color: #FFFFFF;
}
.Lb_flash ul li p a {
	font-family: "Microsoft YaHei",黑体,arial,sans-serif;
}
.Lb_flash span {
	position: absolute;
	bottom: 7px;
	right: 7px;
	z-index: 20;
	text-align: center;
}
.Lb_flash span a {
	display: block;
	width: 8px;
	height: 8px;
	float: right;
	background: #a5a5a5;
	margin-left: 5px;
	overflow: hidden;
	color: #FFFFFF;
}
/*  */
.LbNews_r{
	WIDTH: 450px;
	FLOAT: right;
	OVERFLOW: hidden;
	}

.LbNews_r dl dd{
	WIDTH: 445px;
	HEIGHT: 79px;
	PADDING-TOP: 3px;
	OVERFLOW: hidden;
	}
.LbNews_r dl dd.d1{
	border-bottom: 1px solid #d7d7d7;
	}
.LbNews_r dl dd h3{
	font-weight: bold;
	font-family: Microsoft YaHei;
	HEIGHT: 26px;
	OVERFLOW: hidden;
	}
.LbNews_r dl dd h3 a {
	LINE-HEIGHT: 26px;
	COLOR: #cc0000;
	FONT-SIZE: 18px;
	}
.LbNews_r dl dd ul.LbNtiN{
	width: 440px;
	height: 40px;
	overflow: hidden;
	padding-top: 5px;
	}
.LbNews_r dl dd ul.LbNtiN li {
	width: 210px;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	float: left;
	padding-right: 10px;
	}
.LbNews_r dl dd ul.LbNtiN li a{
	font-family:Microsoft YaHei;
	font-size: 12px;
	}
.LbNews_r dl dt{
	display:block;
	height:100px;
	width:450px;
	}
.LbNews_r dl dt a{
	display:inline;
	background:#E5E5E5;
	color:#000;
	width:84px;
	height:90px;
	overflow:hidden;
	float:left;
	margin-right: 6px;
	}
.LbNews_r dl dt a img{
	width:76px;
	height:57px;
	padding:4px;
}
.LbNews_r dl dt a span{
	display:block;
	height:25px;
	line-height:25px;
	width:84px;
	overflow:hidden;
	text-align:center;
	}
.LbNews_r dl dt a:hover{
	background:#2D9EF2;
	text-decoration:none;}
.LbNews_r dl dt a:hover span{
	color:#fff;}

/* 广告 */
.LbAuV3{
	 width:950px;
	 height:auto;
	 margin:1px auto;
	 overflow:hidden;
}

.LbAuV3 embed,.LbAuV3 img{ margin-bottom:7px;}
.main_l {
	width: 640px;
	position: relative;
	float: left;
	overflow: hidden;
}
.main_l .xwzx {
	height: 40px;
	border-bottom: 2px solid #36a3db;
	overflow:hidden;
}
.main_l .xwzx span {
	float: left;
	font-size: 22px;
	color: #048cc9;
	padding-top: 10px;
	padding-left: 5px;
}
.main_l .xwzx a {
	float: right;
	height: 25px;
	padding-top: 14px;
	font-size: 14px;
	background: url("../images/lx.gif")/*tpa=http://www.cbssww.com/skin/images/lx.gif*/ no-repeat;
	line-height: 28px;
}
.main_l .xwzx a.tp {
	padding-left: 30px;
	padding-right: 20px;
	background-position: 0 -219px;
}
.main_l .xwzx a.sp {
	padding-left: 30px;
	padding-right: 30px;
	background-position: 0 -181px;
}
.main_l .main_title {
	width: 670px;
	height: 34px;
	overflow: hidden;
	float: left;
	background: url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ 0 0px no-repeat;
}

.main_title ul {
	font-size: 14px;
}
.main_l .main_title ul li {
	height: 30px;
	line-height: 26px;
	padding-left: 16px;
	padding-right: 16px;
	float: left;
}
.main_l .main_title ul .on {
	height: 30px;
	line-height: 26px;
	padding-left: 16px;
	padding-right: 16px;
}
.tab .main_title ul.fx li, .tab .main_title ul.fx li.on {
	margin-top: 2px;
}
.tab .main_title ul.fx li.on {
	z-index: 20;
	position: relative;
}
.main_l .main_title ul .on a {
	font-weight: 700;
}
.main_l .main_content {
	width: 640px;
}
.main_l .main_content .leftbox {
	width: 480px;
	overflow: hidden;
	float: left;
}
.main_l .main_content .leftbox .list {
	font-size: 14px;
	line-height: 27px;
}
/*#hot .list {
	height: 440px;
	overflow: hidden;
}
*/
#hot {
	height: 332px;
	_height: 332px;
	overflow: hidden;
}
.main_l .main_content .leftbox .list ul {
	width: 490px;
	overflow: hidden;
}
.main_l .main_content .leftbox .list ul li {
	padding-left: 25px;
	width: 630px;
	background: url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ 3px -300px no-repeat;
	line-height: 27px;
	height: 27px;
	overflow: hidden;
}
.main_l .main_content .leftbox .list UL LI A {
	line-height: 27px;
	height: 27px;
	DISPLAY: block;
	FLOAT: left;
	OVERFLOW: hidden;
	WIDTH: 415px;
}
.main_l .main_content .leftbox .list ul li {
	line-height: 27px;
	FONT-SIZE: 14px;
}
.main_l .main_content .leftbox .list UL LI span {
	COLOR: #bcbcbc;
}
.main_l .main_content .rightbox {
	width: 145px;
	overflow: hidden;
	float: right;
}
.main_l .main_content .rightbox .hotpic2 {
}
.main_l .main_content .rightbox p a img {
	width: 120px;
	height: 90px;
}
.main_l .main_content .rightbox p {
	margin: 0;
	width: 131px;
	text-align: center;
}
.main_l .main_content .rightbox p.p1 a{
	width:131px;
	display:block;
	height:22px;
	text-align:center;
	overflow:hidden;
	line-height:22px;}
.tab div.t.none {
	display: none;
}
.main_l .tab .main_title div.animate {
	height: 30px;
	position: absolute;
	background: url("../images/lx.gif")/*tpa=http://www.cbssww.com/skin/images/lx.gif*/ center 0px no-repeat;
}
.main_l .main_content .rightbox .hotpic2 li{
	position:relative;
	width:131px;
	height:108px;
	padding-top:10px;
	}
.main_l .main_content .rightbox .hotpic2 li p.p1,.main_l .main_content .rightbox .hotpic2 li span.s1{
	position:absolute;
	z-index:9;
	width:131px;
	bottom:0px;
	line-height:33px;
	left:0px;
	}
.main_l .main_content .rightbox .hotpic2 li p.p1 a{
	color:#fff;
	height:33px;
	display:block;
	line-height:33px;
	}	
	
.main_l .main_content .rightbox .hotpic2 li span.s1{
	background:#000;
	opacity: 0.6;
	height:33px;
	filter: alpha(opacity=60);
	z-index:5;}
#hot .main_content .picstory_box {
	float: left;
	width: 100%;
}

.picstory_box {
	width: 670px;
	overflow: hidden;
}
.picstory_box ul {
	width: 670px;
	padding-bottom:10px;
	line-height: 18px;
}
#hot .main_content .picstory_box ul {
	width: 650px;
}
#hot .main_content .picstory_box ul li{
	display:inline;}
.spt_i {
	width: 120px;
	height: 100px;
	position: relative;
	float: left;
	margin: 15px 10px 0 0;
}
.spt_i .ad_bg {
	position: absolute;
	left: 0;
	top: 58px;
	width: 120px;
	height: 43px;
	overflow: hidden;
}
.spt_i .ad_bg {
	z-index: 9999;
	background: url("../images/pic_bg3.png")/*tpa=http://www.cbssww.com/skin/images/pic_bg3.png*/ no-repeat;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='../images/pic_bg3.png');
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='../images/pic_bg3.png');
}
.spt_i .ad_t {
	position: absolute;
	left: 0;
	top:68px;
	width: 92px;
	height: 43px;
	overflow: hidden;
}
.spt_i .ad_t {
	z-index: 9999;
	color: #fff;
	font-size: 12px;
	line-height: 43px;
	margin-left: 28px;
}
.spt_i .ad_t a {
	color: #fff;
}
.spci_g img {
	width: 120px;
	height: 100px;
}
.main_r {
	width: 300px;
	position: relative;
	float: right;
}
.bclass {
	height: 40px;
	overflow:hidden;
	border-bottom: 2px solid #36a3db;
}
.bclass span {
	float: left;
	font-size: 22px;
	padding-top: 10px;
	padding-left: 5px;
}
.bclass a {
	float: right;
	height: 25px;
	padding: 14px 5px 0 0;
	font-size: 14px;
}
.main_r .main_title {
	width: 300px;
	height: 34px;
	overflow: hidden;
}
.main_r .main_title ul {
	width: 300px;
	height: 34px;
}
.main_r .main_title ul li {
	float: left;
	height: 34px;
	line-height: 22px;
	background: url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ 0 -85px no-repeat;
	margin: 0 2px;
	text-align: center;
	display:inline;
	width: 96px;
}
.main_r .main_title ul .on {
	background: transparent;
	width: 96px;
	background: url("../images/lx.gif")/*tpa=http://www.cbssww.com/skin/images/lx.gif*/ center -266px no-repeat;
}
.main_r .main_title ul .on a {
	font-weight: 700;
	color: #FFF;
}
.main_r .tab .main_title div.animate {
width: 96px;
margin: 0 3px;
}
.main_r .tab .main_title div.animate {
	height: 34px;
	position: absolute;
	top: 42px;
	background: url("../images/lx.gif")/*tpa=http://www.cbssww.com/skin/images/lx.gif*/ center -264px no-repeat;
}
.top_vod {
	width: 300px;
	height: 240px;
	overflow: hidden;
	margin: 6px 0;
	line-height: 24px;
	float: left;
}
.top_vod ol {
	width: 300px;
	overflow: hidden;
}
.top_vod ol li {
	padding-left: 25px;
	width: 270px;
	height: 24px;
	font-size:14px;
	overflow: hidden;
	background: url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ no-repeat;
}

.top_vod ol li.i1{
	background-position:-500px -98px ;}

.top_vod ol li.i2{
	background-position:-500px -145px ;}

.top_vod ol li.i3{
	background-position:-500px -194px ;}
.top10 {
	width: 300px;
	height: 245px;
	overflow: hidden;
	margin: 5px 0 0;
	line-height: 24px;
	float: left;
	}
.company-list{
	padding-top: 7px;
	}
.company-list ul{
	WIDTH: 300px;
	}
.company-list li{
	FLOAT: left;
	MARGIN: 3px 0px 0px 10px;
	_MARGIN: 3px 0px 0px 10px;
	OVERFLOW: hidden;
	WIDTH: 47px;
	HEIGHT: 78px;
	display:inline;
	}
.company-list li img{
	BORDER: #ccc 1px solid;
	PADDING: 1px;
	WIDTH: 42px;
	HEIGHT: 42px;
	}
.company-list li p{
	OVERFLOW: hidden;
	LINE-HEIGHT: 20px;
	TEXT-ALIGN: center;
	}

.hotread_cont {
	width: 550px;
	height: 255px;
	float: left;
}
/* 房产楼市 */
#hotread {
	height: 300px;
	overflow: hidden;
	margin-top: 3px;
}
.main_title2 {
	width: 640px;
	height: 40px;
	overflow: hidden;
	border-bottom: 2px solid #36a3db;
	float: left;
}
.main_title2 h3 {
	font-size: 22px;
	color: #048cc9;
	padding-top: 10px;
	float: left;
}
.main_title2 span {
	line-height: 24px;
	padding-top: 14px;
	padding-right: 10px;
	float: right;
	font-size: 14px;
}
.hotread_menu {
	width: 80px;
	height: 252px;
	padding-right: 10px;
	float: left;
}
.hotread_menu li {
	width: 70px;
	height: 36px;
	line-height: 32px;
	padding-left: 10px;
	font-size: 14px;
	background: url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ -300px -200px no-repeat;
}
.hotread_menu .on {
	background: url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ -300px -236px no-repeat;
}
.hotread_menu .on a {
	color: #fff;	
}
.hotread_menu li a:hover{
	text-decoration:none;}
.HouseSkin2 {
	width:550px;
	height: 242px;
	overflow: hidden;
	margin: 0 auto;
}
.HouseSkin2 .ImgCenter {
	float: left;
	padding-left: 5px;
	width:102px;
	height:121px;
	zoom:1;
	display:inline;
}
.AntImg {
	border: solid 1px #e0e0e0;
}
.AntImg a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	outline: none;
}
.AntImg a img{
	width:100px;
	height:80px;}
.HouseSkin2 .AntTit {
	width: 90px;
	text-align: center;
}
.HouseSkin2 .AntTit a {
	display: block;
	width: 90px;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
}
.HouseSkin2 .AntTit em {
	display: block;
	clear: both;
	color: #eb6300;
}
.HouseSkin2 .AntTit em b{
	font-weight:bold;}
.cs1 .tib {
	height: 28px;
	text-align: center;
	color: #154365;
}
.cs1 table{
	font-size:14px;}
.cs1 .tib .w12, .cs1 .til .w12 {
	width: 120px;
}
.cs1 .tib .w9, .cs1 .til .w9 {
	width: 90px;
}
.cs1 .tib .w6, .cs1 .til .w6 {
	width: 60px;
}
.cs1 .tib .w5, .cs1 .til .w5 {
width: 40px;
}
.sdi, .til {
	background: url("../images/rsi.gif")/*tpa=http://www.cbssww.com/skin/images/rsi.gif*/ repeat-x left bottom;
}
.cs1 .tibg {
	background-color: #f4f8ff;
}
.cs1 .tib td {
	background-color: #f4f8ff;
	border-bottom: solid 1px #b6cae3;
	height:27px;
}
.cs1 .til div {
	height: 28px;
	line-height: 27px;
	overflow: hidden;
	text-align: center;
	margin: auto;
	color: #333333;
}
.cs1 .jobWanted .tib td{
	font-weight:bold;
	text-align:left;
	height:25px;
	color:#000;
	border-bottom:none;
	background: url("../images/rsi.gif")/*tpa=http://www.cbssww.com/skin/images/rsi.gif*/ repeat-x left bottom;
	}
.cs1 .jobWanted .til td div{
	text-align:left;
	height:25px;
	}
.tab div.none {
	display: none;
}
.QiuzuQiuGou {
	width: 550px;
	height: 250px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 0px;
}
.QiuzuQiuGou ul {
	width: 590px;
	float: left;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 4px;
}
.QiuzuQiuGou li {
	width: 250px;
	float: left;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	position: relative;
	margin: 0 18px 0 0;
	padding-left: 15px;
	display:inline;
	overflow: hidden;
	font-size: 12px;
}
.QiuzuQiuGou li em {
	background-image: url("../images/Skin2House.gif")/*tpa=http://www.cbssww.com/skin/images/Skin2House.gif*/;
}
.QiuzuQiuGou li em {
	display: block;
	width: 18px;
	height: 14px;
	position: absolute;
	left: 0;
	top: 6px;
	color: #4a6497;
}
.QiuzuQiuGou li .s {
	background-position: left -46px;
}
.QiuzuQiuGou li .z {
	background-position: left -16px;
}
.QiuzuQiuGou li span {
	font-family: microsoft YaHei,Arial, Helvetica, sans-serif;
	float: right;
	font-size: 14px;
	color:#c0c0c0;
}
.QiuzuQiuGou li a {
	display: inline;
	width: 250px;
	line-height: 28px;
	height: 28px;
	padding-left: 10px;
	overflow: hidden;
}
.hotread_cont ol {
	padding-left: 20px;
	background: url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ -900px -395px no-repeat;
	padding-top: 5px;
}
.jobhi {
	float: left;
	width: 455px;
	overflow: hidden;
}
.jobhi b{
	font-weight:100;}
.hotread_cont li {
	line-height: 25px;
	_line-height: 30px;
	font-size: 14px;
	position: relative;
	height: 25px;
	_height: 25px;
	overflow: hidden;
}
.hotread_cont  span{
	color:#c0c0c0;}
.jjr {
	height: 240px;
	padding-top: 0px;
	overflow: hidden;
}
.jjr ul{
	width:350px;}
.jjr ul li {
	float: left;
	width: 88px;
	margin: 0px 6px 5px 6px;
	height: 105px;
	overflow: hidden;
	display:inline;
	position: relative;
	}
.jjr ul img {
	width: 88px;
	height: 105px;
}
.jjr ul li em, .jjr li p {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 88px;
	height: 25px;
}
.jjr ul li em {
	background: #000;
	opacity: 0.6;
	z-index: 15;
	filter: alpha(opacity=60);
	z-index: 1;
	left: 0;
	bottom: 0px;
}
.jjr ul li p {
	padding: 0 0px;
	width: 88px;
	line-height: 22px;
	overflow: hidden;
	z-index: 2;
	text-align: center;
	bottom: 0px;
}
.jjr ul li p a, .jjr li p a:hover {
	color: #FFFFFF;
	font-size: 12px;
}
.jjgs li {
	display: block;
	clear: both;
	height: 61px;
	padding: 1px;
	border: 1px solid #dddddd;
	margin-bottom: 8px;
	background: url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ 104px -524px no-repeat;
	line-height: 20px;
}
.jjgs li a {
	font-size: 14px;
	color: #1364c0;
}
.jjgs li img {
	float: left;
	width: 110px;
	height: 61px;
	margin-right: 10px;
}
.jjgs li p.rz {
	float: left;
	background: url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ -40px -595px no-repeat;
	height: 19px;
	width: 176px;
	position: relative;
}
.top10 dl.Resume dd a{
	float:left;}
.top10 dl.Resume dd a.a1 img{
	width:75px;
	height:100px;
	border:1px solid #dadada;}
.top10 dl.Resume{
	height: 210px;
	overflow: hidden;}
.top10 dl.Resume dd{
	height:100px;
	padding-bottom:4px;
	margin-bottom:4px;
	background: url("../images/rsi.gif")/*tpa=http://www.cbssww.com/skin/images/rsi.gif*/ repeat-x left bottom;
	color:#000;
	}
.top10 dl.Resume dd span{
	display:block;
	height:22px;
	line-height:22px;
	float:left;
	width:200px;
	overflow:hidden;
	padding-left:20px;
	}
.top10 dl.Resume dd a.a2{
	display:block;
	width:61px;
	height:24px;
	padding-left:26px;
	background:url("../images/Resume.gif")/*tpa=http://www.cbssww.com/skin/images/Resume.gif*/ no-repeat;
	margin-left:35px;
	overflow:hidden;}
.tjc {
	height: 40px;
	border-bottom: 2px solid #36a3db;
}
.tjc span {
	float: left;
	font-size: 22px;
	color: #048cc9;
	padding-top: 10px;
	padding-left: 5px;
}
.tjc a {
	float: right;
	height: 25px;
	padding: 14px 5px 0 0;
	font-size: 14px;
}
.hot1 .tab .main_title div.animate, .hot2 .tab .main_title div.animate {
	height: 30px;
	position: absolute;
	background: url("../images/lx.gif")/*tpa=http://www.cbssww.com/skin/images/lx.gif*/ center 0px no-repeat;
}
.hot1 .main_r .tab .main_title div.animate, .hot2 .main_r .tab .main_title div.animate {
	height: 34px;
	top: 0;
	position: absolute;
	background: url("../images/lx.gif")/*tpa=http://www.cbssww.com/skin/images/lx.gif*/ center -264px no-repeat;
}
.main_l .main_content .leftbox2 {
	width: 640px;
	overflow: hidden;
	float: left;
}
.sj {
	width: 640px;
	height: auto;
	overflow: hidden;
	padding: 3px 0 0 0;
}
.sj .c {
	width: 640px;
	height: auto;
	overflow: hidden;
	padding-bottom: 2px;
}
.sj dl dd {
	float:left;
	padding: 0px 4px;
	height: 82px;
	width:120px;
	overflow:hidden;
}
.sj dl dd .ci, .sj dl dd .ci a {
	overflow: hidden;
	width: 122px;
	height: 55px;
}
.sj dl dd .ci {
	clear: left;
}
.sj dl dd .ci a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	outline: none;
}
.sj dl dd .ci img {
	vertical-align: middle;
	max-width: 122px;
	max-height: 60px;
	width: expression(this.width > 122 && this.width > this.height ? 122 : true);
	height: expression(this.height > 60 ? 60 : true);
}
.sj dl dd .ti {
	width: 122px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	text-align: center;
}

.tcShop {
	padding: 8px 0 15px 2px;
}
.tcShop li {
	width: 74px;
	float: left;
	margin-top: 6px;
	padding-right: 17px;
}
.tcShop li img {
	display: block;
	margin: 0 auto;
	width: 70px;
	height: 70px;
	padding: 1px;
	border: 1px solid #d3d3d3;
}
.tcShop li h3 {
	padding: 0 10px;
	text-align: center;
	line-height:18px;
	height: 18px;
	overflow: hidden;
	margin-top: 3px;
	cursor: pointer;
	font-weight: normal;
	color: #36c;
}
.tcShop li span.price {
	display: block;
	text-align: center;
	background-position: -662px -121px;
	color: #f50;
	font-size: 14px;
	font-weight: bold;
	width:74px;
	height: 18px;
	overflow: hidden;
}
.top10 ol {
	background: url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ -900px -100px no-repeat;
	width: 300px;
	overflow: hidden;
}
.top10 ol li {
	padding-left: 25px;
	height: 24px;
	overflow: hidden;
	font-size:14px;
}

/* 团购 */
.today-list {
	height: auto;
	width: 970px;
	overflow: hidden;
	padding: 15px 0 0;
	font-size: 12px;
	color: #333333;
}
.today-list li {
	position: relative;
	float: left;
	display: inline;
	margin-right: 10px;
	width: 230px;
	height: 240px;
	overflow: hidden;
}
.today-list li a {
	display: block;
	width: 230px;
	height: 144px;
	overflow: hidden;
}
.today-list img {
	width: 230px;
	height: 144px;
}
.today-num {
	position: absolute;
	left: 1px;
	top: 119px;
	width: 228px;
	height: 24px;
	background: #fff;
	opacity: .7;
	filter: alpha(opacity=70);
	border-top: 1px solid #fff;
	overflow: hidden;
}
.today-num .icon,.today-price a{
	background: url("../images/t.png")/*tpa=http://www.cbssww.com/skin/images/t.png*/ no-repeat;
}
.today-num .icon {
	margin-left: 18px;
	width: 12px;
	height: 14px;
	line-height: 14px;
	background-position: 0 -196px;
	margin-top: 5px;
	overflow: hidden;
}
.today-num span {
	float: left;
	margin-top: 6px;
	margin-top: 6px	9;
	_margin-top: 6px;
}
.today-num .num {
	color: #f15;
	padding-left: 7px;
	padding-right: 3px;
	font-family: Microsoft yahei;
	margin-top: 4px;
	margin-top: 4px	9;
}
.today-price {
	width: 230px;
	height: 40px;
	line-height: 40px;
	background: #f30;
	overflow: hidden;
}
.today-price .group-price {
	float: left;
	padding-left: 20px;
	font-family: Microsoft yahei;
	font-size: 28px;
	color: #fff;
}
.today-list .today-price a {
	float: right;
	display: inline;
	margin: 5px 10px 0 0;
	width: 60px;
	height: 30px;
	background-position: 0 -118px;
	text-indent: -9999px;
	overflow: hidden;
}
.hitaoPrice {
	width: 228px;
	height: 38px;
	background: #faf5f7;
	border: 1px solid #f7dfe6;
	overflow: hidden;
}
.hitaoPrice .w87 {
	width: 87px;
}
.hitaoPrice .hitao-property {
	float: left;
}
.hitaoPrice .hitao-property span {
	display: block;
	line-height: 14px;
	margin-top: 4px;
	text-align: center;
}
.hitaoPrice .hitao-property em {
	display: block;
	line-height: 18px;
	font-size: 12px;
	font-family:Microsoft yahei;
	text-align: center;
}
.hitaoPrice .w63 {
	width: 63px;
}
.hitaoPrice .w76 {
	width: 76px;
}
/*... 商品促销 ...*/

#salCommodity .main_l{
	width:950px;
	}
#salCommodity .main_l .main_title {
	width:950px;}
#salCommodity .main_l .main_content {
	width: 950px;
}
.shopList {
	width: 950px;
	height: auto;
	padding-top: 15px;
	display:block;
}
.shopList li {
	float: left;
	width: 190px;
	text-align: center;
	font-size: 12px;
	height: 225px;
	}
.shopList li a img{
	width:160px;
	height:160px;}
.shopList li .title {
	display: block;
	font-size: 14px;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	cursor: pointer;
	}
.shopList li .title a {
	color: #3E3E3E;
}
.shopList li .price {
	font: 14px/1.5 arial,verdana;
	color: #979fac;
}
.main_content .shopList li strong {
	color: #f40;
	font-weight: bold;
	font-family: verdana,arial;
}
.xwzx a.jj {
	padding-left: 30px;
	padding-right: 30px;
	background-position: 0 -299px;
}
.xwzx a.fb {
	padding-left: 30px;
	padding-right: 30px;
	background-position: 0 -338px;
}
.top9 {
	width: 300px;
	height: 240px;
	overflow: hidden;
	margin: 10px 0 0;
	line-height: 24px;
	float: left;
}
.top9 ol {
	background: url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ -900px -103px no-repeat;
	width: 300px;
	overflow: hidden;
}
.top9 ol li {
	padding-left: 25px;
	width: 800px;
	height: 24px;
	overflow: hidden;
	font-size:14px;
	line-height: 16px;
}
.top9 ol li span {
	margin-left: 5px;
}
.AntPastInfoList {
	width: 580px;
	height: auto;
	overflow: hidden;
	padding-left: 0px;
}
.AntPastInfoList p a {
	margin: 0 5px;
	right: 3px;
}
.AntPastInfoList LI {
	font-size: 14px;
	width: 300px;
	float: left;
	height:204px;
	position:relative;
	padding: 7px 0px 25px 0;
}
.AntPastInfoList LI .Buy {
	font-size: 14px;
	padding: 0px 2px 0px 5px;
}
.AntPastInfoList LI .Buy font {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 16px;
	color: #ff0200;
	font-weight: bold;
}
.AntPastInfoList LI .Title {
	width: 300px;
	height: 20px;
	overflow: hidden;
	margin-bottom: 4px;
	color: #666666;
	position: relative;
}
.AntPastInfoList LI .Title p {
	width: 300px;
	height: 20px;
	overflow: hidden;
	font-size: 14px;
	font-family: microsoft YaHei;
	color: #000000;
}
.AntPastInfoList p a {
	margin: 0 5px;
	right: 3px;
}
.AntPastInfoList LI .Info {
	width: 110px;
	color: #666666;
	line-height: 2em;
	float: right;
	font-size: 12px;
	text-align: left;
}
.BuyOK {
	width: 127px;
	height: 45px;
	display: block;
	background-image: url("../images/panic_ast.gif")/*tpa=http://www.cbssww.com/skin/images/panic_ast.gif*/;
	background-repeat: no-repeat;
}
.AntPastInfoList LI .Info .OriginalPrice {
	color: #000000;
	text-decoration: line-through;
	font-size: 14px;
}
.AntPastInfoList LI .Info .Discount {
	color: #cc3333;
	font-size: 14px;
}
.AntPastInfoList .AntUl .AnConduct {
	width: 77px;
	height: 78px;
	background: url("../images/AnConduct.png")/*tpa=http://www.cbssww.com/skin/images/AnConduct.png*/ no-repeat;
	position: absolute;
	margin: 80px 0px 0px 100px;
	z-index:9;
	top: 57px;
	left:0px;
}
.AntPastInfoList LI img {
	width: 157px;
	height: 150px;
	overflow: hidden;
}
.AntPastInfoList LI a.a5{
	display:block;
	width:157px;
	height:150px;
	margin-top:0px;
	float:left;
	position:absolute;
	bottom: 21px;
	left: 0px;
	z-index:1;
	}
/* 家居建材 */
.zxan {
	padding: 5px 0 15px 2px;
}
.zxan li {
	width: 158px;
	float: left;
	margin-top: 3px;
}
.zxan li img {
	display: block;
	margin: 0 auto;
	width: 145px;
	height: 90px;
	padding: 2px;
}
.zxan li h3 {
	padding: 0 10px;
	text-align: center;
	line-height:18px;
	height: 18px;
	overflow: hidden;
	margin-top: 3px;
	cursor: pointer;
	font-weight: normal;
	color: #36c;
}
.Biol {
	width: 670px;
	overflow: hidden;
	color: #666666;
	clear: both;
	padding: 2px 0 0 0;
}
.Biol dl {
	height: 26px;
	line-height: 26px;
	font-size: 14px;
}

.Biol dl dd {
	float: left;
	width: 90px;
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.Biol dl dd b{
	font-weight:bold;}
.Biol dl dd a {
	color: #F30;
}
.Biol dl.bg {
	background-color: #f4f8ff;
	border-top: 1px dashed #CCC;
}
.sjs {
	height: 240px;
	padding-top: 0px;
	overflow: hidden;
}
.sjs ul li {
	float: left;
	width: 98px;
	margin: 0px 2px 5px 0;
	height: 115px;
	overflow: hidden;
	position: relative;
}
.sjs ul img {
	width: 95px;
	height: 115px;
}
.sjs ul li em, .sjs li p {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 95px;
	height: 25px;
}
.sjs ul li em {
	background: #000;
	opacity: 0.6;
	z-index: 15;
	filter: alpha(opacity=60);
	z-index: 1;
	left: 0;
	bottom: 0px;
}
.sjs ul li p {
	padding: 0 0px;
	width: 95px;
	line-height: 22px;
	overflow: hidden;
	z-index: 2;
	text-align: center;
	bottom: 0px;
}
.sjs ul li p a, .sjs li p a:hover {
	color: #FFFFFF;
	font-size: 12px;
}
.top10 ol li span {
	float: right;
	color: #C0C0C0;
	margin-right: 2px;
}

/* 建材产品分类 */
.zxfl {
	height:85px;
	width:950px;
	margin-top: 0px;
	overflow: hidden;
}
.zxfl .tpd {
	height: 10px;
	background: url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ 0 -28px;
}
.zxfl ul {
	border-left: 1px solid #c3c2c2;
	height: 63px;
	width:949px;
}
.zxfl ul li {
	float: left;
	width: 58px;
	height: 63px;
	overflow:hidden;
	display: block;
	border-right: 1px solid #c3c2c2;
}
.zxfl ul li a {
	padding: 5px 0 0 0;
	width: 60px;
	height: 55px;
	display: block;
	text-align: center;
	background: url("../images/jcfl.gif")/*tpa=http://www.cbssww.com/skin/images/jcfl.gif*/ no-repeat;
	font-size: 14px;
	border-bottom: 3px solid #c3c2c2;
	text-decoration: none;
	color: #000;
}
.zxfl ul li a:hover{ border-bottom:3px solid #fff;}
.zxfl ul li a.f1{ background-position:18px 37px; }.zxfl ul li a.f1:hover{ background-position:-55px 37px; }
.zxfl ul li a.f2{ background-position:18px -22px; }.zxfl ul li a.f2:hover{ background-position:-55px -22px; }
.zxfl ul li a.f3{ background-position:18px -127px; }.zxfl ul li a.f3:hover{ background-position:-55px -127px; }
.zxfl ul li a.f4{ background-position:18px -229px; }.zxfl ul li a.f4:hover{ background-position:-55px -229px; }
.zxfl ul li a.f5{ background-position:18px -333px; }.zxfl ul li a.f5:hover{ background-position:-55px -333px; }
.zxfl ul li a.f6{ background-position:18px -440px; }.zxfl ul li a.f6:hover{ background-position:-55px -440px; }
.zxfl ul li a.f7{ background-position:18px -540px; }.zxfl ul li a.f7:hover{ background-position:-55px -540px; }
.zxfl ul li a.f8{ background-position:18px -645px; }.zxfl ul li a.f8:hover{ background-position:-55px -645px; }
.zxfl ul li a.f9{ background-position:18px -750px; }.zxfl ul li a.f9:hover{ background-position:-55px -750px; }
.zxfl ul li a.f10{ background-position:18px -854px; }.zxfl ul li a.f10:hover{ background-position:-55px -854px; }
.zxfl ul li a.f11{ background-position:18px -960px; }.zxfl ul li a.f11:hover{ background-position:-55px -960px; }
.zxfl ul li a.f12{ background-position:18px -1060px; }.zxfl ul li a.f12:hover{ background-position:-55px -1060px; }
.zxfl ul li a.f13{ background-position:18px -1163px; }.zxfl ul li a.f13:hover{ background-position:-55px -1163px; }
.zxfl ul li a.f14{ background-position:18px -1275px; }.zxfl ul li a.f14:hover{ background-position:-55px -1275px; }
.zxfl ul li a.f15{ background-position:18px -1378px; }.zxfl ul li a.f15:hover{ background-position:-55px -1378px; }
.zxfl ul li a.f16{ background-position:18px -1478px; }	.zxfl ul li a.f16:hover{ background-position:-55px -1478px; }
/* 图片 */
.picnews {
	width: 950px;
	margin: 0 auto;
	height: auto;
	margin-bottom: 0px;
	overflow: hidden;
}
.picnews .hd {
	height: 36px;
	background: url("../images/hd7.png")/*tpa=http://www.cbssww.com/skin/images/hd7.png*/ 0 -10px no-repeat;
	border-bottom: 2px solid #36a3db;
}
.picnews .link {
	padding: 12px 20px 0 0;
	font-size: 14px;
}
.picnews .linkMore {
	float: right;
	color: #d8d8d8;
}
.picnews .linkMore a {
	color: #666;
}
.picnews .linkTitle {
	float: right;
	width: 75px;
	color: #e26f37;
}
.picnews .pic_news {
	width: 948px;
	height: 265px;
	font-size: 12px;
	border: 1px solid #dddddd;
	padding-top: 15px;
	overflow: hidden;
	clear: both;
}
.picnews ul li {
	float: left;
	width: 146px;
	margin: 8px 0px 0 10px;
	height: 112px;
	overflow: hidden;
	position: relative;
	display:inline;
}
.picnews ul img {
	width: 146px;
	height: 112px;
}
.picnews ul li em, .picnews li p {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 146px;
	height: 25px;
}
.picnews ul li em {
	background: #000;
	opacity: 0.6;
	z-index: 15;
	filter: alpha(opacity=60);
	z-index: 1;
	left: 0;
	bottom: 0px;
}
.picnews ul li p {
	padding: 0 0px;
	width: 146px;
	line-height: 25px;
	overflow: hidden;
	z-index: 2;
	text-align: center;
	bottom: 0px;
}
.picnews ul li p a, .picnews li p a:hover {
	color: #FFFFFF;
	font-size: 12px;
}
.companys {
	border: solid 1px #bbd8e9;
	OVERFLOW: hidden;
	WIDTH: 948px;
	margin: 5px auto;
}
.step {
	BACKGROUND: #f1f6f9;
	FLOAT: left;
	WIDTH: 948px;
	PADDING-TOP: 5px;
}
.step SPAN {
	FLOAT: left;
	WIDTH: 110px;
	TEXT-ALIGN: center;
}
.step A {
	DISPLAY: inline;
	FLOAT: left;
	MARGIN-LEFT: 40px;
}
.step A.info {
	DISPLAY: block;
	MARGIN-LEFT: 0px;
	WIDTH: 110px;
	COLOR: #949799;
	TEXT-ALIGN: center;
}
.step IMG {
	FLOAT: left;
}
#SiteForumList1 em,#SiteForumList2 em{display:none;}

/*骨动*/
#News_Full{width:950px;height:auto;overflow:hidden; margin:0 auto;  margin-top:7px; position:relative;}
#News_Full .adClose{position:absolute;right:0;top:0;width:30px;height:16px;}
#News_Full .adClose i{color:#FFF;font-weight:bold;font-size:14px;float:left;text-align:center;width:15px;line-height:16px; font-style:normal;}
#News_Full .adClose span{width:15px;height:15px;float:right;background:url("../../images/px.gif")/*tpa=http://www.cbssww.com/images/px.gif*/ 0 -15px no-repeat;cursor:pointer;}
#News_Full .adClose span.kai{background-position:0 0;}



/*09-11*/
.main_l .main_content .rightbox .hotpic2 li{
	height:120px;}
.main_l .main_content .rightbox .hotpic2 li span.s1 {
background:none;}
.main_l .main_content .rightbox .hotpic2 li p.p1 a {
color: #000;}
.spt_i .ad_t {margin-left: 8px;}
.spt_i .ad_t {
width: auto;
}


/** 模板6新增招聘 **/
.LB_jobR{width:640px; float:right;}
.LB_jobR dl{ border-left:1px dashed #ddd;}
.LB_jobR dl dd{ float:left; width:210px; border:1px dashed #ddd; border-left:0; padding-bottom:5px;}
.LB_jobR dl dd div.JobList{ height:47px; padding-left:15px; overflow:hidden; padding-right:10px;margin-top:1px;}
.LB_jobR dl dd div a{  display:block; color:#838383; font-size:12px; height:18px; overflow:hidden;}
.LB_jobR dl dd div a.tit{line-height:30px; font-size:14px; height:30px;color:#000; margin-top:3px;}
.LB_jobR dl dd div p{line-height:26px; font-size:14px; height:26px; overflow:hidden;  }
.LB_jobR dl dd div p a{ display:inline;color:#444;}
.LB_jobR dl dd div p em{ display:inline;color:#257ac3;font-weight:normal; }
.LB_jobR dl dd div.bg_{background:#eaf9f8;border-bottom:1px solid #50a6e5;}

/** 简历 **/
.blm .ty .c.hjl { height:290px;} /** 人才简历 **/
.ljl dd .jn a {color:#0868c8; font-size:12px;}
.ljl dl { padding:4px 0;}
.ljl dt {font-weight:bold;}
.ljl dt,.ljl dd { width:640px; height:auto; overflow:hidden; margin:auto;}
.ljl dt li,.ljl dd li { float:left;color:#333333; height:25px; line-height:25px; overflow:hidden;font-size:12px;}
.ljl dt .jn,.ljl dd .jn{ width:70px;padding-left:25px;background:url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ 3px -300px no-repeat;}
.ljl dt .js,.ljl dt .je,.ljl dd .js,.ljl dd .je { width:80px;font-size:12px;}
.ljl dt .jp,.ljl dd .jp { width:160px;}.ljl dt .jr,.ljl dd .jr { width:150px;}
.ljl dt .jd,.ljl dd .jd { width:50px; text-align:center;}
.ljl dd .jn a:hover {color:#cc0000;} 


/** 照片简历 **/
.blm .tly .c.hpl { height:256px;} /*推荐照片简历*/
.Jph{ width:auto; height:auto; overflow:hidden;}
.Jph{ width:640px; margin:auto;}
.Jph { margin-bottom:2px;}
.Jph ul li { padding:0px 0 0px 5px; width:920px; height:auto; overflow:hidden; line-height:1.9em;}
.Jph dl { width:210px; margin-right:0px; height:125px; overflow:hidden; float:left; }
.Jph dt,.Jph dd { float:left;}.Jph dd { color:#333333; width:110px; padding-left:10px;}
.Jph dd.b a {background:#f77925; color:#FFFFFF; padding:2px 10px; font-size:13px;}
.Jph dd em { font-style:normal; color:#0868c8;}
.Jph dd font { font-size:12px; color:#cc0000;}
.Jph dd div {color:#999999; height:25px; overflow:hidden;}
.Jph dt div,.Jph dt div a { overflow:hidden; width:90px; height:120px;}
.Jph dt div a{display:table-cell;vertical-align:middle;text-align:center;outline:none;*display:block;*font-family:Arial;*font-size:105px;}

.hotread_cont2{width:638px;height:252px;float:left; padding-left:10px;}
.hotread_cont2 ol{padding-left:20px;background:url("../images/s3.gif")/*tpa=http://www.cbssww.com/skin/images/s3.gif*/ -900px -400px no-repeat;}
.hotread_cont2 li{line-height:25px;*line-height:25px;_line-height:30px;font-size:12px;position:relative;height:25px;*height:25px;_height:25px;overflow:hidden;}
.hotread_cont2 li b{color:#0868c8;font-size:12px;font-weight:normal;}
.hotread_cont2 li b a{color:#0868c8;font-size:12px;font-weight:normal;}
.hotread_cont2 li span{font-size:12px; padding-right:20px; color:#C0C0C0;}
.hotread_cont2 li em{color: #CC0000;margin-right:5px;}
.hotread_cont2 li .percentage{width:87px;height:6px;background:#ff8400;overflow:hidden;position:absolute;top:10px;_top:6px;left:500px;overflow:hidden;}
.hotread_cont2 li .percentage div{height:6px;background:#ff8400;overflow:hidden;}
.hotread_cont2 li a{height:25px;*height:25px;_height:25px;width:560px; display:block; float:left;} 
.hotread_cont2 .AntTit a { display:block; width:90px; height:29px; _height:35px; line-height:1.3em; overflow:hidden;}
.jobhi { float:left; width:485px; overflow:hidden;}
.jobhi b { padding-right:5px;}








body{ background:#ffffff;}/* 模板五的宽度是970，并且有背景色 */
/* 公用图片 */
.header_1 *{margin: 0;padding: 0;list-style: none;font-size:12px;font-style:normal; border:0; font-family:Arial;}
.header_1 a,.t3t a{text-decoration:none;color:#3e3e3e;}
.header_1 a:hover,.t3t a:hover { clear:#CD0200;text-decoration:underline;}
.header_1 .hgroup_1,.Amm,.Amm .passV3,.At3 .nav_1 li .A,.At3 .nav_1 .helpV3,.Av3 ul,.Av3 s,.AntInfoHelpCurrent
{background:transparent url("../../Template/Ant/House/Images/AntHouseBg-1.gif")/*tpa=http://www.cbssww.com/Template/Ant/House/Images/AntHouseBg-1.gif*/ no-repeat 0 0;}
.aL .lI_1,.aL .mC_1,.aL .uE_1 {background:url("../../Template/Ant/House/Images/AntUserIco.gif")/*tpa=http://www.cbssww.com/Template/Ant/House/Images/AntUserIco.gif*/ no-repeat;}
.header_1 .hgroup_1 {background-repeat:repeat-x; font-size:12px;height:36px; overflow:hidden; line-height:32px; min-width:950px; margin:auto;}
.header_1 {font-family:"宋体";font-size:12px;}
.header_1 .hgroup_1 .At3 { width:950px; margin:auto;}
/* 头部提示 */
.header_1 .Amm {float:left; background-repeat:no-repeat; background-position:left -207px; padding-left:25px; position:relative;}
.header_1 .Amm a {color:#0595d1;margin:0 6px 0 6px; float:left;}
.header_1 .Amm span { float:left;}
.header_1 .Amm .reg { color:#ff0000; font-family:"宋体", Tahoma, Helvetica, Arial, sans-serif;}
.header_1 .Amm .passV3 { background-position:1px -244px; padding-left:15px;}
/* 右导航菜单 */
.At3 .nav_1 li { text-align:center; float:right;}
.At3 .nav_1 li .A,.At3 .nav_1 .helpV3{display:block;padding:0 20px 0 7px;border-left:solid 1px transparent; border-right:solid 1px transparent; _border-left:solid 1px #f8f8f8; _border-right:solid 1px #f8f8f8; background-position:59px -281px;}
.At3 .nav_1 li .A:hover { text-decoration:none; border-left:solid 1px #dcdadc; border-right:solid 1px #dcdadc; background-position:59px -317px; background-color:#FFF;}
.AntInfoHelpCurrent{display:block;padding:0 20px 0 7px;text-decoration:none; border-left:solid 1px #dcdadc; border-right:solid 1px #dcdadc; background-position:59px -317px; background-color:#FFF;}
.At3 .nav_1 .helpV3 { background-position:52px -413px; padding:0; padding-right:20px; border:none; margin-left:7px; color:#0099cc; }
.At3 .nav_1 .helpV3:hover { text-decoration:underline; color:#0099cc; border:none; background-position:52px -413px; background-color:transparent;}
.At3 .nav_1 dl { padding:5px 0 5px 0;line-height:2em; width:105px;background-color:#fff; border:solid 1px #dcdcdc;position:absolute; border-top:none; z-index:1; display:none;}
/** 用户登陆后 **/
.aL { float:left; width:640px; overflow:hidden; height:25px;}
.aL div{float:left; margin-left:3px;}
.aL .lI_1 span{font-size:12px; color:#ff0000; font-weight:bold; font-family:Verdana, Geneva, sans-serif;}
.aL .lI_1 font{font-size:12px;}
.aL .lI_1{background-position:-5px 6px;padding-left:17px; margin-left:0px;}
.aL .mC_1{background-position:1px -20px; padding-left:22px;} 
.aL .uE_1{background-position:2px -76px;padding-left:25px;}
.aL .mC a,.aL .uE a {color:#3E3E3E;}
