/*! taomodi.com  | by xiaohei | QQ:290948585 | 2016-01-14 */
.new-company{border:1px solid #dfdfdf;border-top:0 none;height:161px; overflow:hidden;}
.new-company .header{border-bottom:1px solid #dfdfdf;height:height:45px;line-height:25px;padding:10px;font-size:14px;}
.new-company .header dd{width:450px;height:25px;overflow:hidden}
.new-company .header dd li{width:100%;height:25px; overflow:hidden;}
.new-company .content li{width:166px;height:80px;margin:15px 0 0 15px; overflow:hidden}
.leftbar{width:940px;height:320px;border:1px solid #e2e2e2;border-top:2px solid #009237;}
.leftbar .header{background-color:#f8f8f8;height:40px;line-height:40px;border-bottom:1px solid #e9e9e9;}
.leftbar .header h3{width:216px;padding-left:10px;background-color:#009237; color:#fff;}
.leftbar .header h3 a{color:#fff;}
.leftbar .header h3 a:hover{color:#fff;}
.leftbar .header .fr{margin-right:10px;color:#ff5a00;}
.leftbar .header .fr a{color:#ff5a00;margin:0 6px;}
.leftbar .comad{background-color:#f8f8f8;width:216px;height:280px;}
.leftbar .comad dt{padding:10px 0;}
.leftbar .comad dd{text-align:center;padding:5px 15px;overflow:hidden;}
.leftbar .comad .explain{border-top:1px solid #e2e2e2;width:186px;height:40px;line-height:40px;text-align:center;margin-top:15px;}
.leftbar .comad .explain a{padding:0 5px;}
.leftbar .comshow{width:720px;height:327px;}
.leftbar .comshow h4{padding-left:20px;margin-top:-30px;}
.leftbar .comshow ul{padding-top:10px;}
.leftbar .comshow li{width:320px;height:115px;margin:20px 0 0 27px;overflow:hidden;}
.leftbar .comshow dt{width:100px;margin-right:10px;}
.leftbar .comshow dt img{width:100px;height:100px;}
.leftbar .comshow dd{width:200px;padding-top:5px;}
.leftbar .comshow dd strong{display:block;margin-bottom:2px;font-size:14px;}
.leftbar .comshow dd span{display:block;padding-top:3px;color:#666;}
.rightbar{width:240px;height:320px;border:1px solid #dfdfdf;}
.rightbar .header{height:40px;line-height:40px;border-bottom:1px solid #dfdfdf;padding:0 15px;background-color:#f8f8f8;}
.rightbar ul{padding:12px 0 15px 15px;}
.rightbar li{width:200px;height:32px;line-height:32px;background:url("../images/ico.png")/*tpa=/images/ico.png*/ no-repeat -316px -625px;border-bottom:1px dotted #ececec;padding-left:10px;overflow:hidden;}


.category .category-showmorebtn{display:block; width:48px; height:18px;position:absolute;top:3px;right:0;}
.category .category-showmorebtn em{background: url("../images/ico.png")/*tpa=/images/ico.png*/ no-repeat -191px -523px; display:block;  height:18px;line-height:18px;padding-left:18px;}
.category .category-showmorebtn:hover em{background-position:-240px -523px; text-decoration: none; color:#E4393C;}
.category .category-showmorebtn .up{background-position:-191px -542px;}
.category .category-showmorebtn:hover .up{background-position:-240px -542px;}


/*筛选条件*/
.select {height: 40px; background-color: #f5f5f5; padding: 0 10px; }
.select li { float: left; padding: 0 10px; margin: 7px 0 0 10px; }
.select .txt { width: 95px; height: 22px; line-height: 22px; border: 1px solid #d6d5d5; border-right: 0; }
.select .select-btn { width: 45px; height: 22px; line-height: 22px; text-align: center; background-color: #eaeaea; border: 1px solid #d6d5d5; display: block; float: left; }

/*企业列表产品展示*/
.leftbox{ width:943px; float:left; overflow:hidden; }
.leftbox .list { width: 943px; padding: 5px 0 10px 0; border-bottom: 1px dashed #dcdcdc; line-height:26px; overflow: hidden; }
.leftbox .list:hover{ background-color:#f5f5f5; cursor:pointer; }
.leftbox .list .inform { float: left; display: inline; margin-left: 10px; margin-right: 36px; width: 420px; }
.leftbox .list .inform ul { float: left; }
.leftbox .btn { margin: 12px 0 0 0; _margin: 20px 0 0 10px; height: 22px; line-height: 22px; cursor: pointer; }
.leftbox .pro { float: right; }

.leftbox .list .inform .round a:link, .leftbox .list .inform .round a:visited { color: #fff; background: #BBBBBB; display: inline-block; position: relative; padding: 0 6px; padding: 2px 6px 0 6px \9; margin: 2px; word-break: keep-all; text-align: center; text-decoration: none; font: normal 12px/16px Arial, sans-serif; border-radius: 5px; -webkit-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -o-transition: all 0.15s ease; -ms-transition: all 0.15s ease; transition: all 0.15s ease; }
.leftbox .list .inform .round a:hover { text-decoration: none; background: #ff5a00; position: relative; padding: 0 6px; padding: 2px 6px 0 6px \9; margin: 2px; word-break: keep-all; text-align: center; text-decoration: none; font: normal 12px/16px Arial, sans-serif; border-radius: 5px; -webkit-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -o-transition: all 0.15s ease; -ms-transition: all 0.15s ease; transition: all 0.15s ease; }

.leftbox .list .proshow { width: 460px; margin: 10px 0 0 0; }
.leftbox .list .proshow li { width: 103px; float: left; padding: 5px 5px 10px 5px; }
.leftbox .list .proshow dt { width: 95px; height: 95px; border: 1px solid #ddd; padding: 3px; overflow: hidden }
.leftbox .list .proshow dt:hover { width: 95px; height: 95px; border: 1px solid #ff5a00; }
.leftbox .list .proshow dd { margin-top: 5px; text-align: center; }

.leftbox .list .com-code{ height:130px; padding-left:10px; border-left:1px solid #ececec; margin-left:5px; display:inline; }
.leftbox .list .com-code dt{ margin:8px 0 0 8px; display:inline; }
.leftbox .list .ac{ width:100px; text-align:center; }
 
 /*列表页左侧内容*/
.rightboxx { width:242px; float:right; overflow:hidden; }
.rightboxx .tjhot{ width:240px; border:1px solid #dfdfdf; }
.rightboxx .tjhot .rtitle{ height:39px; line-height:39px; background-color:#f5f5f5; padding-left:10px; border-bottom:1px solid #dfdfdf; }
.rightboxx .tjhot .bk{ width:222px; border-top:0; padding:15px 0 0 15px; }
.rightboxx .tjhot .bk li{ padding:5px 0 15px 0; height:100%; }
.rightboxx .tjhot .bk li dt{ overflow:hidden; width:180px; height:180px; line-height:178px; *line-height:182px; text-align:center; margin-bottom:5px; }
.rightboxx .tjhot .bk li dt a{ height:100%; vertical-align:middle\9; _writing-mode: tb-rl; }
.rightboxx .tjhot .bk li dt img { vertical-align:middle; max-height:180px !important; max-width:180px !important; }

/*相关热词推荐*/
.rightbox{ width:242px; float:right; }
.rightbox .recommend{ width:240px; border:1px solid #dfdfdf; float:left; overflow:hidden; }
.rightbox .com-tit{ height:30px; line-height:30px; background:#f1f1f1; border-bottom:1px solid #d2d2d2; padding-left:10px; }
.rightbox .recommend ul{ padding:10px; line-height:24px; }
.rightbox .recommend ul li{ width:222px; line-height:30px; border-bottom:1px dotted #dfdfdf; float:left; }
.rightbox .recommend ul li a{ width:100px; padding-right:10px; float:left; display:block; }

/*企业详情左侧*/
.com_left { border: 1px solid #dfdfdf; width: 940px; float: left; padding-bottom:30px; }
.com_left .summary .title{ height:30px; border-bottom:1px solid #eee; background:#f1f1f1; padding-top:9px; }
.com_left .summary .title span{ border-left:5px solid #d51013; color:#d51013; font-weight:bold; height:20px; display:block; padding-left:15px; font-size:14px; }
.com_left .summary .con{ padding:15px 25px; line-height:26px; }

/*详细页---推荐产品*/
.leftbox .com_left .recom .title { height: 30px; border-bottom: 1px solid #eee; background: #f1f1f1; padding-top: 9px; }
.leftbox .com_left .recom .title .tit-left { border-left: 5px solid #d51013; color: #d51013; font-weight: bold; height: 20px; display: block; padding-left: 15px; font-size: 14px; float: left; }
.leftbox .com_left .recom .title .more { float: right; margin-right: 10px; }

.leftbox .com_left .product-recommend{ width:920px; padding:10px; float:left; }
.leftbox .com_left .product-recommend li{ width:130px; float:left; padding:5px 16px; margin:7px 9px 0 12px; _margin:7px 9px 0 9px; }
.leftbox .com_left .product-recommend dt{ width:128px; height:128px; line-height:128px; text-align:center; overflow:hidden; border:1px solid #ddd; }
.leftbox .com_left .product-recommend dt a { height:100%; vertical-align:middle\9; _writing-mode: tb-rl; }
.leftbox .com_left .product-recommend dt a img { vertical-align: middle; max-height: 128px !important; max-width: 128px !important; }
.leftbox .com_left .product-recommend dt:hover{ width:128px; height:128px; border:1px solid #ff5a00;}
.leftbox .com_left .product-recommend dd{ margin-top:10px; width:128px; }
.leftbox .com_left .product-recommend li:hover{ background-color:#f5f5f5;}