/*浮动联系*/
.company-name{text-align:center;padding-top: 10px;}
.po_telW{ background:#fbf8ef; border-top:1px solid #FFE9DA; height:40px; font-size:14px; width:100%;}
.po_telW .po_tel{ width:1190px; margin:0 auto; overflow:hidden; padding-top:5px;}
.po_telW .po_tel p{ float:left; margin-right:30px;}
.po_telW .po_tel p span{ font-size:20px; color:#FE6500;}
.po_telW .po_tel p strong{ color:#333;}
.po_telW .po_tel .fabu{ margin-left:40px;float:right;}
.po_telW .po_tel .fabu a{ font-size:12px; display:block; background:url("../images/sell/mes001.gif")/*tpa=/images/sell/mes001.gif*/ no-repeat -90px -6px; width:93px; height:26px; line-height:26px; color:#fff; text-align:center;}
.po_telW .po_tel .fabu a:hover{ text-decoration:none}
.po_telW .po_tel .alitalk{ margin-top:0}
.alitalk{ overflow:hidden;  margin-top:20px;}
.alitalk strong{ float:left; margin-top:5px;}
.alitalk a{ float:left; overflow:hidden; margin-left:10px;}
.alitalk .ww{ background-position:0 -91px; width:72px; height:17px;  margin-top:5px;}
.alitalk .qq{ background-position:0 -135px; width:77px; height:25px;}
.alitalk .ww_ok{ background-position:0 0;}
.alitalk .ww_ok:hover{ background-position:0 -40px;}
.alitalk .qq_ok{ background-position:0 -170px;}


.diqu{padding: 0 14px;}
.leftbox{width:950px;}
.leftbox .header{height:38px;line-height:36px;border-bottom:1px solid #dfdfdf;}
.leftbox .header h3{margin-right:20px;}
.leftbox .header dt,.leftbox .header dd{float:left;display:inline;}
.leftbox .header dd{color:#aaa;}
.leftbox .header dd a{margin:0 5px;}
.org-br .leftbox .header{border-top:2px solid #ff6600;}
.green-br .leftbox .header{border-top:2px solid #006600;}
.blue-br .leftbox .header{border-top:2px solid #3d5590;}
.yellow-br .leftbox .header{border-top:2px solid #996600;}
.red-br .leftbox .header{border-top:2px solid #ea1e00;}
.purple-br .leftbox .header{border-top:2px solid #1c0060;}
.green1-br .leftbox .header{border-top:2px solid #336666;}
.orange1-br .leftbox .header{border-top:2px solid #cc6600;}
.org-br .header h3,.org-br .header h3 a{color:#ff6600;}
.green-br .header h3,.green-br .header h3 a{color:#006600;}
.blue-br .header h3,blue-br .header h3 a{color:#3d5590;}
.yellow-br .header h3,.yellow-br .header h3 a{color:#996600;}
.red-br .header h3,.red-br .header h3 a{color:#ea1e00;}
.purple-br .header h3,.purple-br .header h3 a{color:#1c0060;}
.green1-br .header h3,.green1-br .header h3 a{color:#336666;}
.orange1-br .header h3,.orange1-br .header h3 a{color:#cc6600;}

.key-word{width:200px;float:left;}
.key-word .hot-word{border:1px solid #dfdfdf;border-top:0 none;padding:12px;overflow:hidden;}
.key-word .hot-word a{float:left;width:85px;height:33px;line-height:33px;overflow:hidden;}
.key-word .hot-seach{border:1px solid #dfdfdf;border-bottom:0 none;padding:15px 12px; overflow:hidden;}
.key-word .hot-seach .input1{border: 1px solid #dfdfdf;width: 149px;height: 22px;line-height: 21px;background: #fff;clear: both;}
.key-word .hot-seach .search{float:left;width:23px;height:24px;background:url("../images/ico.png")/*tpa=/images/ico.png*/ no-repeat -236px -342px;display:block;border:none;cursor:pointer;}

.picshow{width:736px;height:508px;border:1px solid #dfdfdf;margin-left:12px;}
.picshow .product{width:735px;border-bottom:1px solid #dfdfdf;overflow:hidden;}
.picshow .product ul{width:101%;}
.picshow .product li{width:184px;height:280px;border-right:1px solid #dfdfdf;}
.picshow .product li:hover {background: #FAFAFA;}
.picshow .product dl{padding:10px 10px 0 11px;}
.picshow .product dt{width:160px;height:160px; overflow:hidden;}
.picshow .product dd{width:160px;height:20px;line-height:20px;overflow:hidden;}
.picshow .product .text a{color:#999;}
.picshow .pronews{padding:10px;}
.picshow .pronews li{width:330px;height:34px;line-height:34px;margin:0 10px;border-bottom:1px solid #f6f6f6;float:left;overflow:hidden;}
.picshow .pronews .catname{margin-right:3px;font-weight:700;color:#666;}
.rightbox{width:240px;height:562px;border:1px solid #dfdfdf;float:right;overflow:hidden;}
.rightbox .header{height:38px;line-height:38px;padding-left:15px;border-bottom:1px solid #e7e7e7;background-color:#f5f5f5;}
.rightbox .rcompany dl{width:220px;border-bottom:1px dashed #f6f6f6;padding:4px 0 8px 0;margin:6px 0 0 10px;color:#999;}
.rightbox .rcompany dd.te{height:22px;padding:5px 0;}
.rightbox .rcompany dd .gray_bg{background:#aaa; border-radius:15px; padding:2px 5px; color:#fff; margin-left:5px;}
.rightbox .rcompany dd .gray_bg:hover{background:#ff5a00;color:#fff;text-decoration:none;}
.rightbox .rcompany dd.img{height:120px;display:none;}
.rightbox .rcompany dd.img span{overflow:hidden;width:93px;height:120px;margin:10px 8px 0;text-align:center;}
.rightbox .rcompany dd.img img {display:block;width:90px;height:90px;border:1px solid #dfdfdf;margin-bottom:5px;}
.rightbox .rcompany dd.img b{width:80px;height:14px;line-height:14px;font-weight:300;}
.category {border: 1px solid #e4e4e4;border-top:2px solid #ff6600;padding: 10px 10px 7px 10px; overflow: hidden;}
.category dt{width:50px; height: 26px; line-height: 26px; text-align:center; background-color:#ff6600; color: #fff;}
.category dd{width:1110px;position:relative;}
.category ul {width: 1050px; line-height: 28px; padding:0 0 5px 5px;overflow:hidden;}
.category ul li {padding: 0 15px; white-space: nowrap;}
.category ul li.hide{display:none;}
.category ul li a{color:#3d5590}

.category .category-showmorebtn{display:block; width:48px; height:18px;position:absolute;top:3px;right:0;}
.category .category-showmorebtn em{background: url("../images/ico.png")/*tpa=/images/ico.png*/ no-repeat -191px -523px; display:block;  height:18px;line-height:18px;padding-left:18px;}
.category .category-showmorebtn:hover em{background-position:-240px -523px; text-decoration: none; color:#ff6600;}
.category .category-showmorebtn .up{background-position:-191px -542px;}
.category .category-showmorebtn:hover .up{background-position:-240px -542px;}

.tool{background-color:#f5f5f5;height:40px;border:solid 1px #e8e8e8}
.tool .sort{font-size:14px;line-height:40px;}
.tool .sort li.first{margin-left:0;border-left:none}
.tool .sort .link{display:block;height:40px;margin-left:-1px;padding:0 19px;border-left:solid 1px #f5f5f5;border-right:solid 1px #f5f5f5;text-decoration:none;color:#6d6d6d}
.tool .sort .link:hover,.tool .sort .active{position:relative;z-index:1;background-color:#fff;border-color:#e5e5e5;color:#c00;}
.tool .droplist{position:relative}
.tool .sort .droplist .link{padding-right:25px;}
.tool .droplist .link:hover{color:#6d6d6d;background-color:#f5f5f5;border-color:transparent}
.tool .droplist .link .icon{border-top: #ccc 4px solid; border-right: #f5f5f5 5px solid; border-bottom: #f5f5f5 5px solid; border-left:#f5f5f5 5px solid; font-size: 0px; right:10px; width: 0px; line-height: 0; position: absolute; top:18px; height: 0px; -webkit-transition: -webkit-transform .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: -webkit-transform .2s ease-in;}
.tool .droplist ul{display:none;padding:5px 0;position:absolute;z-index:2;top:40px;left:-1px;border:solid 1px #ccc;background:#fff;-webkit-box-shadow:0 3px 3px rgba(0,0,0,.1);-moz-box-shadow:0 3px 3px rgba(0,0,0,.1);box-shadow:0 3px 3px rgba(0,0,0,.1)}
.tool .sort .droplist li{line-height:27px;float:none;white-space:nowrap}
.tool .sort .droplist li:hover{color:#6d6d6d;background-color:#f5f5f5;border-color:transparent}
.tool .droplist ul li a{border:none;padding:0 20px}
.tool .droplist.hover ul{display:block}

.tool .prices .inner{float:left;height:39px;width:160px}
.tool .prices ul{padding:8px 0 0 10px}
.tool .prices .sep{width:10px;text-align:center}
.tool .prices .input{width:55px;height:21px;padding-left: 5px;border:solid 1px #dfdfdf;line-height:normal;*line-height:21px;color:#999;}
.tool .prices .submit{margin-left:10px;display:none}
.tool .prices.hover{position:relative;z-index:2}
.tool .prices.hover .inner{position:absolute;top:-1px;left:-1px;border:solid 1px #ccc;background:#fff;width:200px;-webkit-box-shadow:0 3px 3px rgba(0,0,0,.1);-moz-box-shadow:0 3px 3px rgba(0,0,0,.1);box-shadow:0 3px 3px rgba(0,0,0,.1)}

.tool .prices.hover .submit{display:block}

.tool .prices .btn{display:block;height:23px;padding:0 10px;background:#f40;color:#fff;line-height:23px;cursor:pointer;-webkit-border-radius:2px;-webkit-background-clip:padding-box;-moz-border-radius:2px;-moz-background-clip:padding;border-radius:2px;background-clip:padding-box}
.tool .prices .btn:hover{color:#fff;background:#DF0808}

.tool .styles{margin:10px 12px 0 0;width:200px;font-size:14px;text-align:right;}
.tool .filter{color:#6d6d6d;cursor:pointer;float:left;height:38px;line-height:38px;margin-left:12px;}.tool .filter span{float:left;display:inline-block;margin-left:4px;}
.tool .filter .icon{background-position:-35px -268px;height:13px;width:13px;font-size:0;margin-top:13px;}
.tool .filter .icon.icon-check,.tool .filter:hover .icon{background-position:-56px -268px;}

.styles a{float:right;background:url("../images/ico.png")/*tpa=/images/ico.png*/ no-repeat -999px -999px;padding-left: 15px;line-height:20px;margin-left:20px;}
.styles a.style_0{background-position: -238px -369px;}
.styles a.style_0.hover{background-position: -238px -431px;}
.styles a.style_1{background-position:-238px -401px;}
.styles a.style_1.hover{background-position:-238px -461px;}
.styles a:hover{text-decoration:underline}


.sellList dl{width:100%;padding:15px 0;border-bottom:1px dashed #dcdcdc;}
.sellList dt{width:102px;height:102px;margin-right:12px;border:1px solid #d2d2d2;overflow:hidden;}
.sellList dt img {max-height:102px !important; max-width:102px !important;}
.sellList .inform{width:490px; table-layout:fixed; word-break: break-all;}
.sellList .inform h5 a{font-size:15px;color:#1e50a2;}
.sellList .inform h5 a:hover{color:#ff7300;text-decoration:underline;}
.sellList .inform h5 span{font-size:12px;color:#999;margin-left:6px;}
.sellList .inform .intro{width:450px;height:40px;color:#666;line-height:20px;margin:6px 0;overflow:hidden;}
.sellList .inform .company a{color:#ff5a00;margin-right:20px;}
.sellList .inform .company a:hover{text-decoration:underline;}
.sellList .price{width: 140px; margin:45px 0 0 60px;}
.sellList .btn{padding: 20px 0 0 35px; cursor:pointer;}
.btn-qq,.btn-msg,.btn-go,.btn-tel{height:28px; line-height:28px; padding-left:26px; background:url("../images/ico.png")/*tpa=/images/ico.png*/ no-repeat;margin-right:2px; display:block; cursor:pointer;}
.btn-qq{background-position:-236px -647px;}
.btn-msg{background-position:-128px -647px;}
.btn-go{background-position: -111px 6px;}
.btn-tel{background-position:2px -647px;}

/*产品大图列表*/
.sellWindow{width:963px;}
.sellWindow dl{width: 222px; height: 370px;border:1px solid #eee; margin: 10px 15px 15px 0; float:left; overflow:hidden;}
.sellWindow dl.kkg:hover{width: 222px; height: 370px;border-color: #fa5c0e;outline: 1px solid #fa5c0e;}
.sellWindow dl dt {width: 222px;height: 222px;border-bottom: 1px solid #eee;overflow:hidden;}
.sellWindow dl dt img {max-height: 220px !important; max-width: 220px !important;}
.sellWindow dl dd{width: 97%;padding: 0 0 0 7px;overflow:hidden;}
.sellWindow dd.price{font-size:14px;width: 190px; height:24px;margin:5px 0;}
.sellWindow dd.te{font-size:14px;width: 210px; height:24px;margin:1px 0;}
.sellWindow dd.te a{font-size:14px;width: 100px !important; height:24px;margin:1px 0;}
.sellWindow dd.te img {padding:2px}
.sellWindow .small{width:180px;padding:8px 0;}
.sellWindow .small li{border:1px solid #eee;text-align:center;padding:1px; margin-right:5px;overflow:hidden;}
.sellWindow .small li:hover{border-color:#ff0000;}
.sellWindow .small li img {vertical-align:middle; max-height:32px !important; max-width:32px !important;}
.sellWindow dd .gray{color:#a4a4a4;}
.sellWindow dd.te a:hover,.sellWindow dd .gray:hover{color:#f60;}
.sellWindow .buy-l{margin: 5px 0!important;}
.sellWindow .by{color:#a4a4a4;}

.sw-block-feedback p{float:_left;float:left;width: 100px;height: 32px;line-height: 32px;}
.sw-block-feedback{height: 37px;line-height: 37px;border-top: 1px solid #f1f1f1;text-align: center;overflow: hidden; float:left;width: 220px;}
.sw-block-area{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 110px;color: #999;float: left;height: 37px;border-right: 1px solid #f1f1f1}
.sw-block-talk{float: right;line-height: 37px;height: 37px;}

.top-reconmmend{width:100%;margin-top:30px;overflow:auto;}
.top-reconmmend ul{padding:10px;}
.top-reconmmend dl{padding:10px;}
.top-reconmmend ul li dt{overflow:hidden; width:161px; height:160px; line-height:158px; *height:162px; border:1px solid #d2d2d2; text-align:center; margin-bottom:5px;}
.top-reconmmend ul li dt a{height:100%; vertical-align:middle\9; _writing-mode: tb-rl;}
.top-reconmmend ul li dt a img{vertical-align:middle; max-height:160px !important; max-width:160px !important;}
.top-reconmmend ul li dd{width:160px; _padding-bottom:15px;}
.sideBar .recommend ul{padding:5px 12px;}
.sideBar .recommend li{border-top:1px dotted #dfdfdf;width:100%;height:35px;line-height:35px; overflow:hidden}
.sideBar .recommend li.first{border:0 none;}
.sideBar .recommend li span{float: right !important;width:50%;}
.sideBar .recommend li a:hover{color:#f30;}

.sideBar .recommend1 ul{padding:5px 12px;}
.sideBar .recommend1 li{border-top:1px dotted #dfdfdf;width:100%;height:35px;line-height:35px; overflow:hidden}
.sideBar .recommend1 li.first{border:0 none;}
.sideBar .recommend1 li span{float:left;width:107px;}
.sideBar .recommend1 li a:hover{color:#f30;}

.proshow {-width:100%; padding:25px 35px;border:1px solid #dfdfdf;}
.proshow .proImg{width: 300px;margin-bottom:30px;}
.proImg #mid_div{width: 280px; height: 280px;border: 1px solid #ddd;overflow: hidden; display: inline-block; text-align: center; vertical-align: middle;cursor:crosshair;}
.proImg #mid_div img {vertical-align: middle; max-height: 280px !important; max-width: 280px !important; width: expression(this.width > 280 && this.width > this.height ? 280 :true);
height:expression(this.height >280 ? 280: true);}
#mid_pos {position:absolute;}
#zoomer {border:#333333 1px solid;width:120px;height:90px;background:#fff url("image/zoom_bg.gif")/*tpa=/css/image/zoom_bg.gif*/;position:absolute;opacity:0.5;filter:alpha(opacity=50);}
#big_div {width:550px;height:420px;border:#dfdfdf 1px solid;background:#fff;position:absolute;z-index:99;overflow:hidden;}
#big_pic {position:absolute;}
.pro{width:300px;}
.proImg ul li {width:61px; height:64px;padding:1px;border:1px solid #ddd;margin-right:7px;overflow:hidden;} 
.proImg ul li:hover{border-color:#ff0000;}
.proImg ul li img  {vertical-align:middle; max-height:60px !important; max-width:60px !important;}
.state {clear:both;font-size:14px;width:99%; border:1px solid #ffd980; background:#fffbd8;color: #666; padding:5px 0 5px 10px; overflow: hidden;}
.proInfo {width:550px;font-size:14px;line-height: 24px;margin-bottom:30px; size:999;}
.proInfo .jubao{position:absolute;right:-10px;top:0;}
.proInfo h1{color:#ea1e00;font-size:22px;margin:5px 50px 15px 0px;overflow: hidden;}
.proInfo dl{line-height:26px;}
.proInfo dt{width:80px;height:26px;}
.proInfo dd{width:470px;height:26px;overflow: hidden;}
.djs {padding:0 10px 2px 10px; color:#f60;position: relative;height: 26px;line-height: 26px;background: #FFE4D0;}
.djs strong {margin-left: 3px;}
.proInfo .attribute{width:520px; background-color:#f5f5f5; border:1px dashed #dfdfdf; margin-top:15px; padding:10px 15px; position:relative;}
.proInfo .attribute li{width:100%;height:26px;line-height:26px; overflow:hidden}
.tip {width: 192px; height: 30px; line-height: 30px; text-align: center; margin: 30px 0 0 20px; *margin:10px 0 0 0; border: 1px solid #9e4b2b; background-color: #fbf9a6; position: relative; color: #9e4b2b;}
.tip .arrow1, .tip .arrow2 {position: absolute; overflow: hidden; font-family: "SimSun"; display: block;}
.tip .arrow1 {z-index: 2; left: 95px; top: -15px; color: #9e4b2b; font-size: 14px;}
.tip .arrow2 {z-index: 3; left: 96px; top: -14px; color: #fbf9a6; font-size: 12px;}
.tip1 {width: 160px; height: 28px; line-height: 28px; left:10px; top:-10px; text-align: center; margin-top: 5px; border: 1px solid #9e4b2b; background-color: #fbf9a6; position: relative; color: #9e4b2b;}
.tip1 .arrow1, .tip1 .arrow2 {position: absolute; overflow: hidden; font-family: "SimSun"; display: block; top: 2px;}
.tip1 .arrow1 {z-index: 2; color: #9e4b2b; font-size: 14px; left: -8px;}
.tip1 .arrow2 {z-index: 3; color: #fbf9a6; font-size: 12px; left: -6px;}


.prodetail {padding:20px;overflow:hidden;}
.prodetail .infoList {background-color:#dfdfdf;padding-bottom:1px;width: 900px;}
.prodetail .infoList li{background-color:#f5f5f5;width:48.7%;height:38px;padding: 0 0 0 10px;margin:1px 0 0 1px;line-height:38px;overflow:hidden;}
.prodetail #content {line-height: 30px; font-size: 14px; padding: 20px 10px;overflow: hidden;}

/*产品小图列表*/
.sellWindow{ width:963px; float:left; overflow:hidden; margin-top: 0px;}
.sellWindow .list{ width:943px; height:132px; padding-top:18px; border-bottom:1px dotted #dcdcdc;float:left;}
.sellWindow .list:hover{width:943px; height:132px; background: #f5f5f5;}
.sellWindow .list li{ float:left; }
.sellWindow .list .img{ overflow:hidden; width:102px; height:102px; line-height:100px; *height:104px; border:1px solid #d2d2d2; text-align:center; margin-bottom:5px;margin-left:5px; }
.sellWindow .list .img a{ height:100%; vertical-align:middle\9; _writing-mode: tb-rl;}
.sellWindow .list .img img { vertical-align:middle; max-height:102px !important; max-width:102px !important; }
.sellWindow .list .inform{ width: 380px; table-layout:fixed; word-break: break-all; margin-left:10px; margin-top: 10px; }
.sellWindow .list .inform .text{ width: 360px; height: 38px; margin-top:15px; overflow:hidden; }
.sellWindow .price{ width: 110px; margin-left:5px; margin-top: 10px;text-align: center;}
.sellWindow .price p{width: 110px;height: 20px;overflow: hidden;padding:4px}
.sellWindow .sw-company{width: 180px; margin-left:25px;margin-top: 10px; height: 25px;}
.sellWindow .sw-company p{width: 180px;height: 20px;overflow: hidden;padding:4px}
.sellWindow .btn{ padding: 0 0 0 25px; cursor:pointer; margin-top: 10px; }
.btn-qq,.btn-msg,.btn-tel{ height:28px; line-height:28px; padding-left:26px; background:url("../images/ico.png")/*tpa=/images/ico.png*/ no-repeat; display:block; cursor:pointer; }
.btn-qq{ background-position:-236px -647px; }
.btn-msg{ background-position:-128px -647px; }
.btn-tel{ background-position:2px -647px; }
.redd {color: #e00;background-color: #f3f3f3;}
.blist {width:340px;height:28px;line-height:28px; overflow:hidden;}


/*产品页公司导航*/
.qyd {border-top: 2px #ff6600 solid;}
.idx-menu{height:60px; min-width:1200px; background:#f4f4f4;}
.idx-menu ul,.idx-menu  li,.idx-menu  a{float:left;font-family:Microsoft YaHei,宋体; }
.idx-menu a{color:#666; TEXT-DECORATION:none;}
.idx-menu a:hover{color:#db4f33;}

.idx-menu .idx-menu-comname{ padding:5px 5px; float:left;}
.idx-menu .idx-menu-comname .menu-comname{float: left; font-size:20px; color:#666; font-weight:bold;margin-top: 13px; margin-left:10px; margin-right:5px;width:335px; min-width:330px;max-width:330px; overflow:hidden; height:25px;}
.idx-menu .idx-menu-comname .menu-ewm-img{float: left; display: inline-block;height: 15px;width: 15px;background: url("../images/sell/npd.png")/*tpa=/images/sell/npd.png*/ no-repeat -1px -1px;margin-left: 5px;margin-top: 20px;position:relative; cursor:pointer;}

.idx-menu .idx-menu-comname .menu-ewm{ position: absolute;z-index: 99;margin:0 auto; display:none;width:200px;height:232px;border: 1px solid #c0c0c0;background-color:#ffffff;}
 .idx-menu .idx-menu-comname .menu-ewm li{float:left; text-align:center;width:200px;}
 .idx-menu .idx-menu-comname .menu-ewm li img { margin: 10px;}
.idx-menu .idx-menu-comname .menu-ewm a{color:#000;margin:0 auto;}
.idx-menu .idx-menu-ge{padding:0px 20px; float:left; float:left;background: url("../images/sell/npd.png")/*tpa=/images/sell/npd.png*/ no-repeat 11px -33px;height: 60px;width: 20px;}
.idx-menu .idx-menu-list{margin-top:23px;float:left;}
.idx-menu .idx-menu-list .menu-list-div{float:left;}
.idx-menu .idx-menu-list .menu-list-div li{float:left; font-size:15px;font-weight:bold; padding:0px 15px;border-left: 1px solid #d0d0d0; height:20px;}
.idx-menu .idx-menu-list .menu-list-div li.first{border-left: 0px solid #ddd;}

.idx-menu .idx-menu-logo{width:90px; height:45px;margin: 6px 0 0 10px;}
.idx-menu .idx-menu-logo .menu-ewmlogo{position: absolute;z-index: 99;margin:0 auto; display:none;background-color:#ffffff;}
.idx-menu .idx-menu-logo .menu-ewmlogo li{margin-top: 22px;    margin-left: -20px;position: absolute;float:left; text-align:center;width:180px;}
.idx-menu .idx-menu-logo .menu-ewmlogo li img { margin: 10px;}
.idx-menu .idx-menu-logo .menu-ewmlogo a{color:#000;margin:0 auto;}

/*批量比较*/
.sell_tip {width:180px;height:70px;background:url("../image/sell_tip.gif")/*tpa=/image/sell_tip.gif*/ no-repeat;overflow:hidden;z-index:1000;position:absolute;}
.sell_tip input{height:22px;line-height:22px;overflow:hidden;}
.sell_tip p {margin:0 0 4px 2px;font-weight:bold;}
.sell_tip div {padding:8px 0 0 10px;}

.img_list li {height:22px;line-height:22px;overflow:hidden;}
.product_option {padding:10px 20px 10px 20px;}
.iq_btn {margin-top:10px;cursor:pointer;}
.sell_tip .btn {background:url("../image/btn.gif")/*tpa=/image/btn.gif*/ no-repeat;height:24px;line-height:22px;width:50px;border:none;cursor:pointer;letter-spacing:3px;}
.sell_tip .btn_1 {background:url("../image/btn_1.gif")/*tpa=/image/btn_1.gif*/ no-repeat;height:21px;line-height:21px;width:69px;padding-left:9px;border:none;cursor:pointer;}
.sell_tip .btn_2 {background:url("../image/btn_2.gif")/*tpa=/image/btn_2.gif*/ no-repeat;height:21px;line-height:21px;width:69px;padding-left:9px;border:none;cursor:pointer;}

/*产品详情新加购买*/
.btn-msg02 a {
	display: block;
	width: 166px;
	height: 44px;
	line-height:44px;
	overflow: hidden;
	text-align:center;
	color:#fff;
	background-color:#ff712b;
	font-family:"微软雅黑";
	font-size:18px;
	cursor:pointer;
	border-radius:2px;
}
.btn-go02 img {vertical-align:middle;position:relative}
.btn-go02 a {
	display: block;
	width: 166px;
	/*height: 44px;*/
	line-height:44px;
	overflow: hidden;
	text-align:center;
	color:#fff;
	background-color:#F40;
	font-family:"微软雅黑";
	font-size:18px;
	cursor:pointer;
	border-radius:2px;
}

.goo {height:44px;vertical-align:middle;}
.goo .too{padding-left:20px;margin-top: 20px;float:right !important;}
.goo .too a{padding-left:30px;}

.btn-qq02,.btn-tel02{ height:28px; line-height:28px; padding-left:26px; background:url("../images/ico.png")/*tpa=/images/ico.png*/ no-repeat; display:block; cursor:pointer; position: absolute;}
.btn-qq02{ background-position:-236px -649px; }
.btn-tel02{ background-position:2px -649px; }

